.navigation-section {
  padding: 0.5% 10% 0.5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: sticky;

  .logo-section {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    img {
      max-width: 50px;
      max-height: 50px;
      width: auto;
      height: auto;
      margin-right: 4px;
    }
    p {
      color: black;
      font-weight: bold;
      margin-top: 20%;
    }
  } 

  .nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    padding-top: 1%;

    .nav-item {
      color: grey;
      cursor: pointer;
      font-size: large;
    }

    .active-tab {
      color: black;
      font-weight: bold;
    }
  }
}

.about-section {
  background-image: url("../assets/img/about.jpg");
  background-size: cover;
  height: 93vh;
  padding: 13% 10% 0% 10%;
  display: flex;
  box-sizing: border-box;

  .lab-info {
    width: 60%;
    .title{
      color: white;
      font-weight: bold;
      font-size: 40px;
      text-transform: uppercase;
    }
    .description {
      color: white;
      font-size: 20px;
      line-height: 35px;
      font-weight: bold;
    }
  }
  .upcoming-event {
    // margin: 40% 20% 10% 30%;
    margin-top: 20%;
    margin-left: 10%;
    .title {
      display: flex;
      flex-direction: row;
      // width: 90%;
      // justify-content: space-between;
      gap: 20px;

      img {
        max-width: 32px;
        max-height: 32px;
        width: auto;
        height: auto;
      }
      p {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 25px;
      }
    }
    .date {
      color: white;
      text-transform: uppercase;
      font-size: 20px;
    }
    .event-name {
      color: white;
      font-size: 20px;
      cursor: pointer;
    }
    .event-name:hover {
      text-decoration: underline;
      color: white;
    }
  }
}